body{background-color: #24304d}

.container {
  display: inline-block;
  padding-right: 15px;}

.flex-row {
  display: flex;}

.row > .flex-item {
  flex: 1;}

.title,
.subtitle {
  padding: 8px;
  background-color: #0bc30b;
  color: white;}

.title {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-decoration: underline;
  font-size: 25px}

.subtitle {
  border-radius: 8px;
  border-top-left-radius: 0;}

.spacer {
  flex: 1;
  display: flex;
  background-color: #0bc30b;}

.spacer .filler {
  flex: 1;
  background-color: #24304d;}

.bottom-left-round {
  border-bottom-left-radius: 8px;}

a{
  color: black;
  text-decoration: none;}

.flex-row a:hover{
  background-color: #24304d;
  color: white;}
