* {box-sizing: border-box;}
.row1 {display: flex;}
.row2 {display: flex;}

/*COLORS*/
.blue     { color: #268bd2; }
.cyan     { color: #2aa198; }
.green    { color: #859900; }
.magenta  { color: #d33682; }
.orange   { color: #cb4b16; }
.red      { color: #dc322f; }
.violet   { color: #6c71c4; }
.yellow   { color: #b58900; }

.bg-color { background-color: #073642; }
.border-color { border: 5px solid #073642; }

body{background-color: #073642;}
h3{color: rgb(4, 151, 83); text-decoration: underline; font-size: 14px;}
h2{color: white; text-decoration: underline; font-size: 10px;}

/*Search and weather columns*/
.column1 {
  flex: 40%;
  padding: 10px;
  height: 140px;
}

.column2 {
  flex: 60%;
  padding: 10px;
  height: 140px; 
}

.search {
    margin: auto;
    overflow: hidden;
    background-color:none;
    padding-top: 10px;
    border-bottom: 2px solid white;
    max-width: 550px;
}
  
.search input[type=text] {
    background: none;
    color:white;
    padding: 6px;
    padding-left: 0;
    margin-top: 8px;
    border: none;    
    font-size: 17px;}

/*--Tiles and Panels--*/
.Panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
    border-bottom:3px solid white;
    padding-top:10px;}

#Icons{
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;}

.tile{
    padding:6px;
    margin:5px;}

.tile:hover{
    box-shadow: 0px 0px 5px 2px #FFF;}

.icon a img{
    width:30px;
    height:30px;}

/*Bookmarks*/
.box {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    margin: 4px;
    padding: 8px;
    -webkit-box-shadow: 1px 1px 10px 0px #000;
       -moz-box-shadow: 1px 1px 10px 0px #000;
            box-shadow: 1px 1px 10px 0px #000;
  }
  
  #links {
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
    padding-top: 10px;
  }
  
 
a, a:visited {
    display: block;
    padding-top: 2px;
    font-weight: bold;
    text-decoration: none;
    color: gainsboro;
}

a:hover { color: #dc322f; }
